.menu {
  border-bottom: var.$menu-border-width solid var.$menu-border-color;
  box-shadow: var.$menu-box-shadow;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;

  .menu-item {
    cursor: pointer;
    margin: 0 2px;
    padding: var.$menu-item-padding-y var.$menu-item-padding-x;
    transition: var.$menu-transition; // 过渡效果
    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color: var.$menu-item-disabled-color;
      cursor: default;
      pointer-events: none;
    }

    &.is-active,
    &:hover {
      border-bottom: var.$menu-item-active-border-width solid
        var.$menu-item-active-color;
      color: var.$menu-item-active-color;
    }
  }

  // 对 sub-menu设置单独样式 由于类名不同
  .sub-menu {
    cursor: pointer;
    margin: 0 2px;
    position: relative;
    transition: var.$menu-transition; // 过渡效果
    &.is-active,
    &:hover {
      border-bottom: var.$menu-item-active-border-width solid
        var.$menu-item-active-color;
    }

    //  设置title-div类似于上面的item块样式
    .sub-menu-title {
      cursor: pointer;
      padding: var.$menu-item-padding-y var.$menu-item-padding-x;
      transition: var.$menu-transition;

      &.is-active,
      &:hover {
        color: var.$menu-item-active-color;
      }
    }

    .sub-menu-ul {
      border: var.$menu-border-width solid transparent;
      box-shadow: var.$menu-box-shadow;
      list-style: none;
      max-height: 0;

      // 高度未达到是自适应 ， 超出时根据 overflow进行处理
      overflow: hidden; // 隐藏溢出内容
      padding: 0;
      position: absolute;
      transform-origin: top;
      transition: all 0.3s ease;

      .menu-item {
        border-left: var.$menu-item-active-border-width solid transparent;
        white-space: nowrap;

        &.is-active,
        &:hover {
          border-bottom: 0;
        }
      }

      &.open {
        border: var.$menu-border-width solid var.$menu-border-color;
        max-height: 700px; // 设置一个足够大的值以显示内容
      }
    }
  }
}

.menu-vertical {
  border-bottom: 0;
  border-right: var.$menu-border-width solid var.$menu-border-color;
  flex-direction: column;

  .menu-item {
    border-left: var.$menu-item-active-border-width solid transparent;

    &.is-active,
    &:hover {
      border-bottom: 0;
      border-left: var.$menu-item-active-border-width solid
        var.$menu-item-active-color;
    }
  }

  .sub-menu {
    border-left: var.$menu-item-active-border-width solid transparent;

    &.is-active,
    &:hover {
      border-bottom: 0;
      border-left: var.$menu-item-active-border-width solid
        var.$menu-item-active-color;
    }

    .sub-menu-ul {
      border: 0;
      box-shadow: none;
      list-style: none;
      padding-left: 30px;
      position: relative;

      &.open {
        border: 0;
      }
    }
  }
}

// 此处盒子边框计算没有使用 border-box - padding设置撑开盒子，设置边框和阴影 flex布局效果

/**
此处存在类名使用的注意点 ：
以上使用中存在同级类名选择器 和 子代类名选择器 ，
 后一同级类名选择器下子代选择器会覆盖前一同级类名选择器下子代选择器;
例如 menu -> sub-menu -> .sub-menu-ul ->.open会覆盖 menu-vertical -> sub-menu ->  .sub-menu-ul .open;

*/
