.menu {
  border-bottom: var.$menu-border-width solid var.$menu-border-color;
  box-shadow: var.$menu-box-shadow;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;

  .menu-item {
    cursor: pointer;
    margin: 0 2px;
    padding: var.$menu-item-padding-y var.$menu-item-padding-x;
    transition: var.$menu-transition; // 过渡效果
    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.is-disabled {
      color: var.$menu-item-disabled-color;
      cursor: default;
      pointer-events: none;
    }

    &.is-active,
    &:hover {
      border-bottom: var.$menu-item-active-border-width solid
        var.$menu-item-active-color;
      color: var.$menu-item-active-color;
    }
  }

  // 对 sub-menu设置单独样式 由于类名不同
  .sub-menu {
    cursor: pointer;
    margin: 0 2px;
    position: relative;
    transition: var.$menu-transition; // 过渡效果
    &.is-active,
    &:hover {
      border-bottom: var.$menu-item-active-border-width solid
        var.$menu-item-active-color;
    }

    //  设置title-div类似于上面的item块样式
    .sub-menu-title {
      cursor: pointer;
      padding: var.$menu-item-padding-y var.$menu-item-padding-x;
      transition: var.$menu-transition;
      align-items: center;
      // 添加图标样式 ：
      .icon-chevron {
        margin-left: 5px;
        font-size: 13px;
        transition: transform 0.25s ease-in-out;
      }

      &.is-active,
      &:hover {
        color: var.$menu-item-active-color;
        .icon-chevron {
          transform: rotate(180deg);
        }
      }
    }

    .sub-menu-ul {
      border: 0px solid var.$menu-border-color;
      box-shadow: var.$menu-box-shadow;
      list-style: none;
      // max-height: 0;
      display: none;
      background-color: #fff;
      // 高度未达到是自适应 ， 超出时根据 overflow进行处理
      // overflow: hidden; // 隐藏溢出内容
      padding: 0;
      position: absolute;
      transform-origin: top;
      transition: 0.5s ease;
      z-index: 99;
      .menu-item {
        border-left: var.$menu-item-active-border-width solid transparent;
        white-space: nowrap;

        &.is-active,
        &:hover {
          border-bottom: 0;
        }
      }

      &.open {
        border: var.$menu-border-width solid var.$menu-border-color;
        // max-height: 700px; // 设置一个足够大的值以显示内容
        display: block;
      }
    }
  }
}

.is-vertical {
  .icon-chevron {
    transform: rotate(0deg) !important;
  }
}
.is-vertical.is-opened {
  //同时存在两个状态的subMenu选中该样式 ;
  .icon-chevron {
    transform: rotate(180deg) !important;
  }
}

.menu-vertical {
  border-bottom: 0;
  border-right: var.$menu-border-width solid var.$menu-border-color;
  flex-direction: column;

  .menu-item {
    border-left: var.$menu-item-active-border-width solid transparent;

    &.is-active,
    &:hover {
      border-bottom: 0;
      border-left: var.$menu-item-active-border-width solid
        var.$menu-item-active-color;
    }
  }

  .sub-menu {
    border-left: var.$menu-item-active-border-width solid transparent;

    &.is-active,
    &:hover {
      border-bottom: 0;
      border-left: var.$menu-item-active-border-width solid
        var.$menu-item-active-color;
    }

    .sub-menu-ul {
      border: 0;
      box-shadow: none;
      list-style: none;
      padding-left: 30px;
      position: relative;

      &.open {
        border: 0;
      }
    }
  }
}

.zoom-in-top-enter {
  opacity: 0;
  transform: scaleY(0); // 初始状态下缩小
  transform-origin: top; // 从顶部开始缩放
  transition:
    opacity 0.3s ease,
    transform 0.3s ease; // 添加过渡效果
}

.zoom-in-top-enter-active {
  opacity: 1;
  transform: scaleY(1); // 最终状态下恢复正常大小
  transform-origin: center top;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}

.zoom-in-top-exit {
  opacity: 1;
}

.zoom-in-top-exit-active {
  opacity: 0;
  transform: scaleY(0); // 初始状态下缩小
  transform-origin: center top;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease; // 添加过渡效果
}

// 此处盒子边框计算没有使用 border-box - padding设置撑开盒子，设置边框和阴影 flex布局效果

/**
此处存在类名使用的注意点 ：
以上使用中存在同级类名选择器 和 子代类名选择器 ，
 后一同级类名选择器下子代选择器会覆盖前一同级类名选择器下子代选择器;
例如 menu -> sub-menu -> .sub-menu-ul ->.open会覆盖 menu-vertical -> sub-menu ->  .sub-menu-ul .open;

*/
